<template>
  <transition-group name="slide-fade" mode="out-in">
    <template v-if="!editingExercise">
      <div v-for="(v, i) in routines" :key="v.id" class="form-box dense dark mt-1" :class="{ 'collapsed': v.collapsed, 'mt-8': i > 0 }">
        <div class="form-label" @click="toggleCollapse(v)">
          <div></div>
          <label class="cursor--pointer">{{ v.name }}</label>
        </div>

        <div class="form-box-content">
          <table v-if="v.exercises.length > 0" class="exercise-tbl white--text">
            <draggable :list="v.exercises.filter(v => !!v)" :tag="'tbody'" @change="reorder(arguments[0], v, i)">
              <tr v-for="v2 in v.exercises.filter(v => !!v)" :key="v2.id" @click="startExerciseEdit(v2, i)" class="cursor--pointer">
                <td>{{ v2.name }}</td>
                <td class="text-right px-2 no-stretch">{{ v2.reps }}</td>
                <td class="text-right px-2 no-stretch divider">{{ v2.sets }}</td>
                <td class="text-right px-2 no-stretch divider">{{ v2.amount }}</td>
                <td class="text-left no-stretch">{{ v2.amount ? v2.unit : '' }}</td>
              </tr>
            </draggable>
          </table>

          <v-alert v-else dense type="info" class="ma-0">You haven't added any exercises to this routine yet.</v-alert>
        </div>

        <div v-if="allowActions" class="form-controls icon-btns">
          <div></div>
          <v-btn icon color="red" @click="remove(v)">
            <v-icon>mdi-delete</v-icon>
          </v-btn>
          
          <v-btn icon color="green" @click="edit(v)">
            <v-icon>mdi-pencil</v-icon>
          </v-btn>
        </div>
      </div>
    </template>

    <upsert-exercise v-else key="upsert-exercise" :bus="bus" :callback="refresh" :exercise="exerciseEdit" @cancelUpserting="stopExerciseEdit" class="mt-5" />
  </transition-group>
</template>

<script>
  import Draggable from 'vuedraggable';
  import { mapGetters, mapActions } from 'vuex';
  import UpsertExercise from '@/components/Index/Exercise/UpsertExercise';

  export default {
    components: { Draggable, UpsertExercise },

    props: {
      bus: { type: Object, required: true },
      allowActions: { type: Boolean, required: false, default: true },
    },

    data: () => ({
      loading: false,
      editingExercise: false,
      exerciseEdit: null,
      routines: [],
    }),

    mounted() {
      this.refresh();
      this.bus.$on('refresh', this.refresh);
    },

    computed: {
      ...mapGetters({
        getFlashValue: 'general/getFlashValue',
        getRoutines: 'routine/getRoutines',
      }),
    },

    methods: {
      ...mapActions({
        flashValue: 'general/setFlashValue',
        upsertRoutine: 'routine/upsertRoutine',
        deleteRoutine: 'routine/deleteRoutine',
      }),

      remove(routine) {
        this.dialogue({
          closeOnShadowClick: true,
          title: `Delete ${routine.name}`,
          color: 'error',
          text: `Are you sure you want to delete ${routine.name}?`,
          actions: [{ color: 'muted', text: 'No, Cancel', method: this.stopViewing }, {
            color: 'error',
            flat: false,
            text: 'Yes, Delete',
            method: async () => {
              this.loading = true;
              try {
                await this.deleteRoutine(routine);
                this.refresh();
              } catch(err) {
                this.alert({ color: 'error', timeout: 10000, text: err.message });
              }
              this.loading = false;
            },
          }]
        });
      },

      edit(routine) {
        this.flashValue(this.routines.findIndex(v => v.id === routine.id));
        routine = this.$jsonClone(routine);
        delete routine.collapsed;
        this.$emit('editRoutine', routine);
      },

      startExerciseEdit(exercise, planIndex) {
        this.flashValue(planIndex);
        this.$emit('hideUpsert');
        this.exerciseEdit = this.$jsonClone(exercise);
        this.editingExercise = true;
      },

      stopExerciseEdit() {
        this.$emit('showUpsert');
        this.exerciseEdit = null;
        this.editingExercise = false;
      },

      toggleCollapse(item) {
        item.collapsed = !item.collapsed;
      },

      refresh() {
        this.routines = this.getRoutines.map((v, i) => ({ ...v, collapsed: i !== this.getFlashValue }));
        this.flashValue(null);
      },

      async reorder(el, routine, routineIndex) {
        this.loading = true;

        try {
          routine.exercises.splice(el.moved.oldIndex, 1);
          routine.exercises.splice(el.moved.newIndex, 0, el.moved.element);
          this.flashValue(routineIndex);
          await this.upsertRoutine(routine);
          this.refresh();
        } catch(err) {
          this.alert({ color: 'error', timeout: 10000, text: err.message });
        }

        this.loading = true;
      },
    },
  }
</script>

<style>

</style>