<template>
  <transition name="slide-fade" mode="out-in">
    <upsert-routine v-if="isUpserting" :bus="bus" :routine="editing" @cancelUpserting="cancelUpserting" class="mt-5" />

    <div v-else>
      <transition name="slide-fade" mode="out-in">
        <v-btn v-if="allowCreate && showUpsert" @click="isUpserting = true" block color="primary" class="mb-7">
          <v-icon left>mdi-plus</v-icon>
          Add Routine
        </v-btn>
      </transition>

      <list-routines :bus="bus" :allowActions="allowCreate" @editRoutine="startEditing" @hideUpsert="showUpsert = false" @showUpsert="showUpsert = true" />
    </div>
  </transition>
</template>

<script>
  import UpsertRoutine from '@/components/Index/Routine/UpsertRoutine';
  import ListRoutines from '@/components/Index/Routine/ListRoutines';

  export default {
    components: { UpsertRoutine, ListRoutines },

    props: {
      bus: { type: Object, required: true },
      allowCreate: { type: Boolean, required: false, default: true },
    },

    data: () => ({
      isUpserting: false,
      editing: null,
      showUpsert: true,
    }),

    mounted() {
      this.bus.$on('cancelAllEdits', () => {
        this.isUpserting = false;
        this.editing = null;
        this.showUpsert = true;
      });
    },

    methods: {
      startEditing(routine) {
        this.editing = routine;
        this.isUpserting = true;
      },

      cancelUpserting() {
        this.editing = null;
        this.isUpserting = false;
      },
    },
  }
</script>

<style lang="scss" scoped>

</style>
