<template>
  <transition name="slide-fade" mode="out-in">
    <v-form v-if="!creatingExercise" ref="form" v-model="valid" class="form-box dark" autocomplete="off">
      <div class="form-label">
        <div></div>
        <label>{{ routine ? 'Edit' : 'Add' }} Routine</label>
      </div>

      <v-row class="mt-1">
        <v-col cols="12" class="py-0">
          <v-text-field :rules="validators.required('Name')" @keydown.enter="submit" v-model.trim="name" required outlined dark dense :disabled="loading" label="Name" />
        </v-col>

        <v-col cols="12" class="py-0">
          <v-autocomplete dense :disabled="loading" label="Exercises" @keydown.enter="submit" v-model.trim="exercises" multiple outlined dark required chips small-chips
            :rules="validators.required('Exercises')" append-outer-icon="mdi-plus" @click:append-outer="creatingExercise = true" :items="getExercises" item-text="name"
            item-value="id"
          />
        </v-col>

        <v-col cols="12" class="py-0">
          <v-textarea dense :disabled="loading" label="Description / Notes" v-model.trim="notes" outlined dark no-resize />
        </v-col>        
      </v-row>

      <div class="form-controls">
        <div></div>
        <v-btn :disabled="loading" :dark="loading" @click="cancelUpserting">Cancel</v-btn>
        <v-btn :disabled="!valid || loading" @click="submit" :loading="loading" color="primary" dark>{{ routine ? 'Update' : 'Create' }}</v-btn>
      </div>
    </v-form>

    <upsert-exercise v-else :bus="bus" :callback="createExerciseCallback" @cancelUpserting="creatingExercise = false" class="mt-5" />
  </transition>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex';
  import _ from 'lodash';
  import validators from '@/config/validators';
  import UpsertExercise from '@/components/Index/Exercise/UpsertExercise';

  export default {
    components: { UpsertExercise },

    props: {
      bus: { type: Object, required: true },
      routine: { type: Object, required: false },
      callback: { type: Function, required: false },
    },

    data: () => ({
      validators,
      valid: false,
      loading: false,
      creatingExercise: false,
      form: {
        name: '',
        notes: '',
        exercises: []
      }
    }),

    computed: {
      ...mapGetters({
        routines: 'routine/getRoutines',
        getExercises: 'exercise/getExercises',
      }),

      name: {
        get() { return this.routine?.name || this.form.name },
        set(v) {
          const obj = this.routine || this.form;
          obj.name = v;
        }
      },
      notes: {
        get() { return this.routine?.notes || this.form.notes },
        set(v) {
          const obj = this.routine || this.form;
          obj.notes = v;
        }
      },
      exercises: {
        get() { return this.routine?.exercises || this.form.exercises },
        set(v) {
          const obj = this.routine || this.form;
          obj.exercises = v;
        }
      },
    },

    methods: {
      ...mapActions({ upsertRoutine: 'routine/upsertRoutine' }),

      cancelUpserting() {
        this.$emit('cancelUpserting');
        this.form = { name: '', sets: '', reps: '', weight: '', };
      },

      async submit() {
        if(this.$refs.form.validate()) {
          this.loading = true;

          try {
            const obj = this.routine || this.form;
            obj.name = _.startCase(obj.name);

            const routine = await this.upsertRoutine(obj);
            if(this.callback) this.callback(routine.id);
            
            this.$refs.form.resetValidation();
            this.cancelUpserting();
            this.alert({ color: 'success', timeout: 10000, text: `${obj.name} ${this.routine ? 'updated' : 'added'}` });
          } catch(err) {
            this.alert({ color: 'error', timeout: 10000, text: err.message });
          }

          this.loading = false;
        }
      },

      createExerciseCallback(exercise) {
        const obj = this.routine || this.form;
        obj.exercises.push(exercise);
      },
    },
  }
</script>

<style>

</style>