<template>
  <v-footer dark padless>
    <v-card flat tile class="text-center full-width">
      <v-card-text class=" py-1">
        <v-btn v-for="v in somo" :key="v.icon" class="mx-4 white--text" icon @click="v.callback">
          <v-icon size="24px">{{ v.icon }}</v-icon>
        </v-btn>
      </v-card-text>

      <v-divider></v-divider>

      <v-card-text class="white--text py-1">
        &#169; {{ new Date().getFullYear() }} | Workouts<br />
        Made by <strong>SeriousLee</strong>
      </v-card-text>
    </v-card>
  </v-footer>
</template>

<script>
  export default {
    data: function() {
      return {
        somo: [
          { icon: 'mdi-facebook', callback: () => this.alert({ color: 'info', timeout: 10000, text: 'Coming soon!' }) },
          { icon: 'mdi-twitter', callback: () => this.alert({ color: 'info', timeout: 10000, text: 'Coming soon!' }) },
          { icon: 'mdi-linkedin', callback: () => this.alert({ color: 'info', timeout: 10000, text: 'Coming soon!' }) },
          { icon: 'mdi-instagram', callback: () => this.alert({ color: 'info', timeout: 10000, text: 'Coming soon!' }) },
        ],
      };
    },
  }
</script>

<style lang="scss" scoped>

</style>