<template>
  <v-dialog v-model="visible" width="500" :persistent="!getDialogue.closeOnShadowClick">
    <v-card>
      <v-card-title class="headline" :class="getDialogue.color ? `${getDialogue.color} white--text` : ''">
        <v-icon v-if="getDialogue.color" class="mr-3" color="white">{{ getIcon(getDialogue.color) }}</v-icon>
        {{ getDialogue.title }}
      </v-card-title>
      
      <v-card-text :class="{ 'pt-5' : !!getDialogue.color }" v-html="getDialogue.text"></v-card-text>

      <v-card-text v-if="!!getDialogue.confirmation">
        <v-text-field :rules="validators.required" v-model.trim="userSubmission" :label="getConfirmationLabel" outlined
          dense
        />
      </v-card-text>

      <v-card-actions>
        <v-spacer />
        <template v-for="(action, i) in refinedActions">
          <v-btn :color="action.color || 'primary'" :depressed="action.flat" @click="fireAction(action.method, action.keepOpen)" :key="i" :disabled="action.disabled">{{ action.text }}</v-btn>
        </template>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  import { mapGetters, mapMutations } from 'vuex';

  export default {
    name: 'Dialogue',

    data() {
      return {
        userSubmission: '',
        validators: {
          required: [ v => !!v || `Please enter "${this.getDialogue.confirmation?.text}" to proceed` ],
        },
      };
    },

    computed: {
      ...mapGetters({ getDialogue: 'interface/getDialogue' }),

      visible: {
        get() { return this.getDialogue.visible; },
        set() { this.hideDialogue(); },
      },

      refinedActions() {
        const target = this.getDialogue.confirmation?.target;
        const sub = this.userSubmission.toLowerCase();
        const text = this.getDialogue.confirmation?.text?.toLowerCase();

        return this.getDialogue.actions?.map((v, i) => ({
          ...v,
          disabled: i === target && sub !== text
        }));
      },

      getConfirmationLabel() {
        return `Enter "${this.getDialogue.confirmation?.text}" to proceed`;
      },
    },

    methods: {
      ...mapMutations({ hideDialogue: 'interface/hideDialogue' }),

      getIcon(color) {
        return {
          success: 'mdi-checkbox-marked-circle',
          info: 'mdi-information',
          warning: 'mdi-alert-circle',
          error: 'mdi-alert-decagram',
        }[color];
      },

      fireAction(method, keepOpen) {
        if(method) method();
        if(!keepOpen) this.visible = false;
      },
    },
  }
</script>

<style lang="scss" scoped>

</style>
