<template>
  <transition name="slide-fade" mode="out-in">
    <upsert-exercise v-if="isUpserting" :bus="bus" :exercise="editing" @cancelUpserting="cancelUpserting" class="mt-5" />

    <div v-else>
      <v-btn v-if="allowCreate" @click="isUpserting = true" block color="primary" class="mb-4">
        <v-icon left>mdi-plus</v-icon>
        Add Exercise
      </v-btn>

      <list-exercises :bus="bus" @editExercise="startEditing" />
    </div>
  </transition>
</template>

<script>
  import { mapGetters } from 'vuex';
  import UpsertExercise from '@/components/Index/Exercise/UpsertExercise';
  import ListExercises from '@/components/Index/Exercise/ListExercises';

  export default {
    components: { UpsertExercise, ListExercises },

    props: {
      bus: { type: Object, required: true },
      allowCreate: { type: Boolean, required: false, default: true },
    },

    data: () => ({
      isUpserting: false,
      editing: null,
    }),

    computed: {
      ...mapGetters({ exercises: 'exercise/getExercises' }),
    },

    mounted() {
      this.bus.$on('cancelAllEdits', () => {
        this.isUpserting = false;
        this.editing = null;
      });
    },

    methods: {
      startEditing(exercise) {
        this.editing = exercise;
        this.isUpserting = true;
      },

      cancelUpserting() {
        this.editing = null;
        this.isUpserting = false;
      },
    },
  }
</script>

<style lang="scss" scoped>

</style>
