<template>
  <div>
    <!-- dialogue -->
    <v-dialog v-model="viewing" width="500">
      <v-card v-if="exercise">
        <v-card-title class="headline pa-2" style="line-height: 1">{{ exercise.name }}</v-card-title>

        <v-card-text class="pa-2">

          <iframe v-if="exercise.link" :src="exercise.link" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" frameborder="0"
            class="full-width" allowfullscreen
          ></iframe>

          <div v-if="exercise.notes">{{ exercise.notes }}</div>

        </v-card-text>

        <v-card-actions class="pa-2">
          <v-spacer />
          <v-btn :disabled="loading" @click="stopViewing">Close</v-btn>
          <v-btn :disabled="loading" @click="remove" :loading="loading" color="red">Delete</v-btn>
          <v-btn :disabled="loading" @click="edit" color="green">Edit</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- dialogue -->

    <table class="exercise-tbl white--text">
      <tbody>
        <tr v-for="v in exercises" :key="v.id" @click="startViewing(v)" class="cursor--pointer">
          <td>{{ v.name }}</td>
          <td class="text-right px-2 no-stretch">
            <v-icon v-if="v.link" x-small class="white--text" right>mdi-video-outline</v-icon>
            <v-icon v-if="v.notes" x-small class="white--text">mdi-message-bulleted</v-icon>
          </td>
          <td class="text-right px-2 no-stretch">{{ v.reps }}</td>
          <td class="text-right px-2 no-stretch divider">{{ v.sets }}</td>
          <td class="text-right px-2 no-stretch divider">{{ v.amount }}</td>
          <td class="text-left no-stretch">{{ v.amount ? v.unit : '' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex';

  export default {
    props: {
      bus: { type: Object, required: true },
    },

    data: () => ({
      viewing: false,
      exercise: null,
      loading: false,
    }),

    computed: {
      ...mapGetters({ exercises: 'exercise/getExercises' })
    },

    methods: {
      ...mapActions({ deleteExercise: 'exercise/deleteExercise' }),

      startViewing(exercise) {
        this.viewing = true;
        this.exercise = exercise;
      },

      stopViewing() {
        this.viewing = false;
        this.exercise = null;
      },

      remove() {
        this.viewing = false;
        this.dialogue({
          closeOnShadowClick: true,
          title: `Delete ${this.exercise.name}`,
          color: 'error',
          text: `Are you sure you want to delete ${this.exercise.name}?`,
          actions: [{ color: 'muted', text: 'No, Cancel', method: this.stopViewing }, {
            color: 'error',
            flat: false,
            text: 'Yes, Delete',
            method: () => {
              this.loading = true;
              try {
                this.deleteExercise(this.exercise);
              } catch(err) {
                this.alert({ color: 'error', timeout: 10000, text: err.message });
              }
              this.loading = false;        
            },
          }]
        });
      },

      edit() {
        this.$emit('editExercise', this.$jsonClone(this.exercise));
      },
    },
  }
</script>

<style>

</style>