<template>
  <v-form ref="form" v-model="valid" class="form-box dark" autocomplete="off">
    <div class="form-label">
      <div></div>
      <label>{{ exercise ? 'Edit' : 'Add' }} Exercise</label>
    </div>

    <v-row class="mt-1">
      <v-col cols="12" class="py-0">
        <v-text-field :rules="exercise ? validators.required('Name') : validators.nameAndUnique(exercises)" @keydown.enter="submit" v-model.trim="name" required outlined
          dark dense :disabled="loading" label="Name" 
        />
      </v-col>

      <v-col cols="12" class="py-0">
        <v-text-field dense :disabled="loading" label="Sets" @keydown.enter="submit" v-model.trim="sets" outlined dark />
      </v-col>

      <v-col cols="12" class="py-0">
        <v-text-field dense :disabled="loading" label="Reps" @keydown.enter="submit" v-model.trim="reps" outlined dark />
      </v-col>

      <v-col cols="12" class="py-0 control-row split-35-30-35">
        <v-select dense :disabled="loading" label="Unit Type" v-model.trim="unitType" :items="units" outlined class="mr-1" item-text="category" item-value="category" dark />

        <v-text-field dense :disabled="loading" label="Amount" @keydown.enter="submit" v-model.trim="amount" outlined dark class="mx-1" />

        <v-select dense :disabled="loading" :label="$data._.startCase(unitType)" v-model.trim="unit" :items="unitTypeItems" outlined class="ml-1" item-text="name" item-value="symbol" dark />
      </v-col>

      <v-col cols="12" class="py-0">
        <v-text-field dense :disabled="loading" label="Tutorial Link" @keydown.enter="submit" v-model.trim="link" dark :append-outer-icon="link ? 'mdi-open-in-new' : ''"
          @click:append-outer="open(link)" outlined
        />
      </v-col>
      
      <v-col cols="12" class="py-0">
        <v-textarea dense :disabled="loading" label="Description / Notes" v-model.trim="notes" outlined dark no-resize />
      </v-col>
    </v-row>

    <div class="form-controls">
      <div></div>
      <v-btn :disabled="loading" :dark="loading" @click="cancelUpserting">Cancel</v-btn>
      <v-btn :disabled="!valid || loading" @click="submit" :loading="loading" color="primary" dark>{{ exercise ? 'Update' : 'Create' }}</v-btn>
    </div>
  </v-form>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex';
  import _ from 'lodash';
  import validators from '@/config/validators';
  import units from '@/config/units';

  export default {
    props: {
      bus: { type: Object, required: true },
      exercise: { type: Object, required: false },
      callback: { type: Function, required: false },
    },

    data: () => ({
      _,
      validators,
      units,
      valid: false,
      loading: false,
      form: {
        name: '',
        notes: '',
        link: '',
        sets: '',
        reps: '',
        unitType: 'Weight',
        amount: '',
        unit: 'kg',
      }
    }),

    computed: {
      ...mapGetters({ exercises: 'exercise/getExercises' }),

      name: {
        get() { return this.exercise?.name || this.form.name },
        set(v) {
          const obj = this.exercise || this.form;
          obj.name = v;
        }
      },
      sets: {
        get() { return this.exercise?.sets || this.form.sets },
        set(v) {
          const obj = this.exercise || this.form;
          obj.sets = v;
        }
      },
      reps: {
        get() { return this.exercise?.reps || this.form.reps },
        set(v) {
          const obj = this.exercise || this.form;
          obj.reps = v;
        }
      },
      unitType: {
        get() { return this.exercise?.unitType || this.form.unitType },
        set(v) {
          const obj = this.exercise || this.form;
          obj.unitType = v;
        }
      },
      amount: {
        get() { return this.exercise?.amount || this.form.amount },
        set(v) {
          const obj = this.exercise || this.form;
          obj.amount = v;
        }
      },
      unit: {
        get() { return this.exercise?.unit || this.form.unit },
        set(v) {
          const obj = this.exercise || this.form;
          obj.unit = v;
        }
      },
      link: {
        get() { return this.exercise?.link || this.form.link },
        set(v) {
          const obj = this.exercise || this.form;
          obj.link = v;
        }
      },
      notes: {
        get() { return this.exercise?.notes || this.form.notes },
        set(v) {
          const obj = this.exercise || this.form;
          obj.notes = v;
        }
      },

      unitTypeItems() {
        return this.units.find(v => v.category === this.unitType).items;
      },
    },

    methods: {
      ...mapActions({ upsertExercise: 'exercise/upsertExercise' }),

      cancelUpserting() {
        this.$emit('cancelUpserting');
        this.form = {
          name: '',
          notes: '',
          link: '',
          sets: '',
          reps: '',
          unitType: 'Weight',
          amount: '',
          unit: 'kg',
        };
      },

      async submit() {
        if(this.$refs.form.validate()) {
          this.loading = true;

          try {
            const obj = this.exercise || this.form;
            obj.name = _.startCase(obj.name);

            const exercise = await this.upsertExercise(obj);
            if(this.callback) this.callback(exercise.id);

            this.$refs.form.resetValidation();
            this.cancelUpserting();
            this.alert({ color: 'success', timeout: 10000, text: `${obj.name} ${this.exercise ? 'updated' : 'added'}` });
          } catch(err) {
            this.alert({ color: 'error', timeout: 10000, text: err.message });
          }

          this.loading = false;
        }
      },

      open(link) {
        window.open(link, '_blank');
      }
    },
  }
</script>

<style>

</style>