/* TRANSITION ANIMATIONS */
.slide-page-enter-active { animation: slide-page-in 0.5s cubic-bezier(1, 0.5, 0.8, 1); }
.slide-page-leave-active { animation: slide-page-out 0.5s cubic-bezier(1, 0.5, 0.8, 1); }
.slide-page-heading-enter-active { animation: slide-page-in 0.3s cubic-bezier(1, 0.5, 0.8, 1); }
.slide-page-heading-leave-active { animation: slide-page-out 0.3s cubic-bezier(1, 0.5, 0.8, 1); }

@keyframes slide-page-out {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(10px);
  }
}

@keyframes slide-page-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-fade-enter-active { transition: all 0.3s ease; }
.slide-fade-leave-active { transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1); }

.slide-fade-enter, .slide-fade-leave-to {
  transform: translateY(10px);
  opacity: 0;
}

.spin-leave-active { animation: spin-out 0.8s linear; }
.spin-enter-active { animation: spin-in 0.8s linear; }

@keyframes spin-out {
  0% {
    opacity: 1;
    transform: scale(1) rotateY(0deg);
  }
  100% {
    opacity:1;
    transform: scale(1) rotateY(90deg);
  }
}

@keyframes spin-in {
  0% {
    opacity: 1;
    transform: scale(1) rotateY(90deg);
  }
  100% {
    opacity:1;
    transform: scale(1) rotateY(0deg);
  }
}

@keyframes spin-x {
  0% { transform: rotateY(0deg); opacity: 0 }
  100% { transform: rotateY(360deg); opacity: 1}
}

.tracking-enter-active {
	-webkit-animation: tracking-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation: tracking-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.tracking-leave-active {
	-webkit-animation: tracking-collapse 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) reverse both;
  animation: tracking-collapse 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) reverse both;
}

@keyframes tracking-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% { opacity: 0.6; }
  100% { opacity: 1; }
}

@keyframes tracking-collapse {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% { opacity: 0.6; }
  100% { opacity: 1; }
}

.swirl-enter-active {
	-webkit-animation: swirl 0.6s ease-out both;
	animation: swirl 0.6s ease-out both;
}

.swirl-leave-active {
	-webkit-animation: swirl 0.6s ease-out reverse both;
	animation: swirl 0.6s ease-out reverse both;
}

@keyframes swirl {
  0% {
    -webkit-transform: rotate(-540deg) scale(0);
    transform: rotate(-540deg) scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    opacity: 1;
  }
}

.bounce-vertical-enter-active {
	-webkit-animation: bounce-vertical-in 1.1s both;
	animation: bounce-vertical-in 1.1s both;
}

.bounce-vertical-leave-active {
	-webkit-animation: bounce-vertical-out 1.1s reverse both;
	animation:  bounce-vertical-out 1.1s reverse both;
}

@keyframes bounce-vertical-in {
  0% {
    -webkit-transform: translateX(600px);
            transform: translateX(600px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(68px);
            transform: translateX(68px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(32px);
            transform: translateX(32px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@keyframes bounce-vertical-out {
  0% {
    -webkit-transform: translateX(-600px);
            transform: translateX(-600px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(-68px);
            transform: translateX(-68px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(-28px);
            transform: translateX(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

.flip-horizontal-enter-active {
	-webkit-animation: flip-in-horizontal 0.5s linear;
  animation: flip-in-horizontal 0.5s linear;
}

.flip-horizontal-leave-active {
	-webkit-animation: flip-out-horizontal 0.5s linear;
  animation: flip-out-horizontal 0.5s linear;
}

@keyframes flip-in-horizontal {
  0% { 
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }
  100% { 
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
}

@keyframes flip-out-horizontal {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0) ;
  }
  100% {
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }
}

.flip-horizontal-shadow-enter-active {
	-webkit-animation: flip-in-horizontal-shadow 0.45s linear;
  animation: flip-in-horizontal-shadow 0.45s linear;
}

.flip-horizontal-shadow-leave-active {
	-webkit-animation: flip-in-horizontal-shadow 0.45s reverse linear;
  animation: flip-in-horizontal-shadow 0.45s reverse linear;
}

@keyframes flip-in-horizontal-shadow {
  0% {
    -webkit-transform: perspective(250px) rotateX(65deg);
    transform: perspective(250px) rotateX(65deg);
    height: 6px; width: 50%;
  }
  100% {
    -webkit-transform: perspective(0) rotateX(75deg);
    transform: perspective(0) rotateX(75deg);
    height: 4px; width: 60%;
  }
}
