.wrap-all { overflow-wrap: anywhere; }

.block-link {
  display: block;
  text-decoration: none;
}

.cursor--pointer { cursor: pointer; }
.full-width { width: 100%; }

.scroll-box {
  max-height: 400px;
  overflow-y: scroll;
}

.control-row {
  display: flex;

  &.split-35-30-35 {
    > *:nth-child(1) { width: 35%; }
    > *:nth-child(2) { width: 30%; }
    > *:nth-child(3) { width: 35%; }
  }
}

.form-box {
  position: relative;
  border: 2px solid #ddd;
  padding: 20px 10px;
  border-radius: 15px;
  margin-bottom: 15px;
  transition: height 0.2s linear, padding 0.2s linear, border-bottom 0.2s linear;

  .form-label {
    color: #ddd;
    position: absolute;
    top: -15px;
    left: 20px;
    padding: 0 5px;
    
    div {
      width: 100%;
      height: 4px;
      background-color: #fff;
      position: absolute;
      top: 52%;
      left: 0;
    }

    label {
      position: relative;
      z-index: 0;
    }
  }

  &.dark .form-label div { background-color: #333; }

  .form-controls {
    position: absolute;
    padding: 0 10px;
    right: 15px;

    div {
      width: 100%;
      height: 4px;
      background-color: #fff;
      position: absolute;
      top: 55%;
      left: 0;
    }

    &.icon-btns {
      padding: 0;
      bottom: -19px;

      div { top: 45%; }
    }
  }

  &.dark .form-controls div { background-color: #333; }


  &.dense { padding: 10px; }

  &.collapsed {
    height: 0;
    padding: 0;
    border-bottom: none;

    .form-label {
      top: -13px;

      div { top: 43% }
    }

    .form-box-content { visibility: hidden; }

    .form-controls.icon-btns div { top: 40% }
  }
}

.exercise-tbl {
  width: 100%;
  border-collapse: collapse;

  .spacer { height: 15px; }

  & tr.bottom-border {
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  }

  & td {
    &.divider { border-left: 1px solid rgba(255, 255, 255, 0.12); }

    &.no-stretch {
      width: 1%;
      white-space: nowrap;
    }
  }
}

// scroll bar

/* Scroll bars */
*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px rgba(0,0,0,0.1); 
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.1); 
  -webkit-border-radius: 4px;
  border-radius: 4px;
}


/* Handle */
*::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #A8A8A8; 
  box-shadow: inset 0 0 3px rgba(0,0,0,0.2); 
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.2); 
  transition-duration: 2s;
}

*::-webkit-scrollbar-thumb:hover {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #C1C1C1; 
  box-shadow: inset 0 0 6px rgba(0,0,0,0.2); 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2); 
  transition-duration: 2s;
}

*::-webkit-scrollbar-thumb:window-inactive { background: rgba(5, 143, 228, 0.1); }
