<template>
  <div>
    <v-form ref="form" v-model="valid" class="form-box dark mt-3" autocomplete="off">
      <div class="form-label">
        <div></div>
        <label>Import Data</label>
      </div>

      <v-row class="mt-1">
        <v-col cols="12" class="py-0">
          <v-textarea :rules="validators.required('Data')" required dense :disabled="loading" label="Data" v-model.trim="form.data" outlined dark
            no-resize placeholder="Paste JSON string"
          />
        </v-col>
      </v-row>

      <div class="form-controls">
        <div></div>
        <v-btn :disabled="!valid || loading" @click="submit" :loading="loading" color="primary" dark>Import</v-btn>
      </div>
    </v-form>

    <div class="form-box dark mt-7">
      <div class="form-label">
        <div></div>
        <label>More...</label>
      </div>

      <v-btn @click="exportData" block color="primary">
        <v-icon left>mdi-export</v-icon>
        Export
      </v-btn>

      <v-btn @click="clearData" block color="error" class="mt-5">
        <v-icon left>mdi-delete</v-icon>
        Clear Data
      </v-btn>
    </div>

  </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex';
  import _ from 'lodash';
  import validators from '@/config/validators';

  export default {
    props: {
      bus: { type: Object, required: true },
    },

    data: () => ({
      validators,
      valid: false,
      loading: false,
      clearModal: false,
      form: { data: '' }
    }),

    computed: {
      ...mapGetters({
        plans: 'plan/getPlans',
        routines: 'routine/getRoutines',
        exercises: 'exercise/getExercises',
      }),
    },

    methods: {
      ...mapActions({
        upsertExercise: 'exercise/upsertExercise',
        deleteExercise: 'exercise/deleteExercise',
        upsertRoutine: 'routine/upsertRoutine',
        deleteRoutine: 'routine/deleteRoutine',
        upsertPlan: 'plan/upsertPlan',
        deletePlan: 'plan/deletePlan',
      }),

      exportData() {
        const el = document.createElement('textarea');
        el.value = JSON.stringify(this.plans);
        document.body.appendChild(el);
        el.select();
        document.execCommand('copy');
        document.body.removeChild(el);
        this.alert({ color: 'success', timeout: 10000, text: 'Plans copied to clipboard. Please paste it somewhere where you won\'t lose it.' });
      },

      async submit() {
        if(this.$refs.form.validate()) {
          this.loading = true;

          try {
            const data = JSON.parse(this.form.data);

            data.forEach(v => {
              v.routines.forEach(v2 => {
                v2.exercises.forEach(v3 => this.upsertExercise(v3));
                this.upsertRoutine(v2);
              });

              this.upsertPlan(v);
            });

            this.form = { data: '' };
            this.$refs.form.resetValidation();
            this.alert({ color: 'success', timeout: 10000, text: 'Data successfully imported' });
            setTimeout(() => location.reload(), 1000);
          } catch(err) {
            this.alert({ color: 'error', timeout: 10000, text: err.message });
          }

          this.loading = false;
        }
      },

      async clearData() {
        this.dialogue({
          closeOnShadowClick: true,
          title: `Clear All Data`,
          color: 'error',
          text: `Are you sure you want to delete all your Plans, Routines, and Exercises? Once they're deleted there's no way to get them back.`,
          confirmation: { text: 'Confirm', target: 1, },
          actions: [{ color: 'muted', text: 'No, Cancel', method: this.stopViewing }, {
            color: 'error',
            flat: false,
            text: 'Yes, Delete',
            method: () => {
              this.loading = true;

              try {
                this.exercises.forEach(v => this.deleteExercise(v));
                this.routines.forEach(v => this.deleteRoutine(v));
                this.plans.forEach(v => this.deletePlan(v));
                setTimeout(() => location.reload(), 1000);
                this.alert({ color: 'success', timeout: 10000, text: 'Data successfully cleared' });
              } catch(err) {
                this.alert({ color: 'error', timeout: 10000, text: err.message });
              }

              this.loading = false;
            },
          }]
        });
      },
    },
  }
</script>

<style lang="scss" scoped>

</style>
