<template>
  <v-app class="app-root">
    <dialogue />

    <!-- TODO: this might be a potential avenue to get nuxt pwa to play nice with nuxt firebase -->
    <!-- https://stackoverflow.com/questions/62861643/firebase-auth-persistent-login-in-pwa -->

    <v-main>
      <nuxt />
      <app-footer />
    </v-main>

   <alert />
  </v-app>
</template>

<script>
  // global mixing configuration
  import Vue from 'vue';
  import global from '@/mixins/global';
  Vue.mixin(global);

  // normal stuff
  import Dialogue from '@/components/Layout/Dialogue';
  import Alert from '@/components/Layout/Alert';
  import AppFooter from '@/components/Layout/AppFooter';

  export default {
    name: 'DefaultLayout',

    components: { Dialogue, Alert, AppFooter },
  }
</script>

<style lang="scss" scoped>
  .app-root {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('@/assets/images/bg.jpg') no-repeat center center scroll;
    height: 100vh;
    overflow-y: scroll;
  }

  @media only screen and (min-width: 960px) {
    .app-root { background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('@/assets/images/bg-wide.jpg') no-repeat center center scroll; }
  }
</style>
