<template>
  <div>
    <v-tabs v-model="tab" @change="tabChanged">
      <v-tab v-model="tab">
        <v-icon left>mdi-view-dashboard</v-icon>
        Dashboard
      </v-tab>

      <v-tab v-model="tab">
        <v-icon left>mdi-dumbbell</v-icon>
        Exercises
      </v-tab>

      <v-tab v-model="tab">
        <v-icon left>mdi-repeat</v-icon>
        Routines
      </v-tab>

      <v-tab v-model="tab">
        <v-icon left>mdi-format-list-checks</v-icon>
        Plans
      </v-tab>

      <v-tab v-model="tab">
        <v-icon left>mdi-swap-vertical</v-icon>
        Import / Export
      </v-tab>
    </v-tabs>

    <v-app-bar v-if="isStaging" color="deep-purple accent-4" dense dark>
      <v-spacer />
      <v-toolbar-title>STAGING</v-toolbar-title>
      <v-spacer />
    </v-app-bar>

    <v-tabs-items v-model="tab">
      <v-tab-item>
        <v-container class="page-wrapper">
          <v-row>
            <v-col cols="12" sm="10" offset-sm="1" md=6 offset-md="3">

              <v-alert v-if="exercises.length < 1 && routines.length < 1 && plans.length < 1" type="info">
                You haven't created anything yet. Start creating your first Exercise by swiping right.
              </v-alert>

              <plan :bus="bus" :allowCreate="false" :onlyFavorite="true" class="mt-3" />
              <h3 v-if="exercises.length > 0" class="text-h5 text-decoration-underline white--text" :class="{ 'mt-8': plans.length > 0 && plans.find(v => v.isFavorite) }">
                Exercise Reference
              </h3>

              <exercise :bus="bus" :allowCreate="false" class="mt-2" />

            </v-col>
          </v-row>
        </v-container>
      </v-tab-item>

      <v-tab-item>
        <v-container class="page-wrapper pt-5">
          <v-row>
            <v-col cols="12" sm="10" offset-sm="1" md=6 offset-md="3">

              <exercise :bus="bus" />
              <v-alert v-if="exercises.length === 1 && routines.length < 1" type="info" class="mt-5">
                Add your first Exercise to a Routine by swiping right.
              </v-alert>

            </v-col>
          </v-row>
        </v-container>
      </v-tab-item>

      <v-tab-item>
        <v-container class="page-wrapper pt-5">
          <v-row>
            <v-col cols="12" sm="10" offset-sm="1" md=6 offset-md="3">

              <routine :bus="bus" />
              <v-alert v-if="routines.length === 1 && plans.length < 1" type="info" class="mt-5">
                Add your first Routine to a Plan by swiping right.
              </v-alert>

            </v-col>
          </v-row>
        </v-container>
      </v-tab-item>

      <v-tab-item>
        <v-container class="page-wrapper pt-5">
          <v-row>
            <v-col cols="12" sm="10" offset-sm="1" md=6 offset-md="3">

              <plan :bus="bus" />
              <v-alert v-if="plans.length === 1 && !plans[0].isFavorite && !swipedRight" type="info" class="mt-5">
                Favorite your first Plan to pin it to your Dashboard, or swipe right to export your Workouts.
              </v-alert>

            </v-col>
          </v-row>
        </v-container>
      </v-tab-item>

      <v-tab-item>
        <v-container class="page-wrapper pt-5">
          <v-row>
            <v-col cols="12" sm="10" offset-sm="1" md=6 offset-md="3">

              <port :bus="bus" />

            </v-col>
          </v-row>
        </v-container>
      </v-tab-item>
    </v-tabs-items>
  </div>
</template>

<script>
  import Vue from 'vue';
  import { mapGetters, mapActions } from 'vuex';
  import Plan from '@/components/Index/Plan/Plan';
  import Routine from '@/components/Index/Routine/Routine';
  import Exercise from '@/components/Index/Exercise/Exercise';
  import Port from '@/components/Index/Port';

  export default {
    components: { Plan, Routine, Exercise, Port },

    data: () => ({
      isStaging: process.env.PSEUDO_ENV === 'staging',
      tab: 0,
      bus: new Vue(),
      swipedRight: false,
    }),

    computed: {
      ...mapGetters({
        plans: 'plan/getPlans',
        routines: 'routine/getRoutines',
        exercises: 'exercise/getExercises',
      }),
    },

    async mounted() {
      await this.fetchExercises();
      await this.fetchRoutines();
      await this.fetchPlans();
      this.bus.$emit('refresh');

      setTimeout(() => this.hideNav(), 250);
    },

    methods: {
      ...mapActions({
        fetchExercises: 'exercise/fetchExercises',
        fetchRoutines: 'routine/fetchRoutines',
        fetchPlans: 'plan/fetchPlans',
      }),

      tabChanged() {
        this.bus.$emit('cancelAllEdits');
        this.bus.$emit('refresh');
        if(this.$vuetify.breakpoint.mobile) {
          this.hideNav();
        }
      },

      hideNav() {
        document.getElementsByClassName('app-root')[0].scroll({ top: 48,  left: 0,  behavior: 'smooth' });
      },
    },

    watch: {
      tab(n) {
        if(!this.swipedRight) this.swipedRight = n === 4;
      }
    },
  }
</script>

<style lang="scss" scoped>
  ::v-deep .v-slide-group__prev { display: none !important; }
  ::v-deep .v-tabs-items {
    background-color: transparent !important;
    min-height: 100vh;
  }
</style>