<template>
  <transition-group name="slide-fade" mode="out-in">
    <upsert-exercise v-if="editing === 'e'" key="upsert-exercise" :bus="bus" :callback="refresh" :exercise="exerciseEdit" @cancelUpserting="stopExerciseEdit" class="mt-5" />
    <upsert-routine v-else-if="editing === 'r'" key="upsert-routine" :bus="bus" :callback="refresh" :routine="routineEdit" @cancelUpserting="stopRoutineEdit" class="mt-5" />

    <template v-else>
      <div v-for="(v, i) in filteredPlans" :key="v.id" class="form-box dense dark mt-1" :class="{ 'collapsed': v.collapsed, 'mt-8': i > 0 }">
        <div class="form-label" @click="toggleCollapse(v)">
          <div></div>
          <label class="cursor--pointer">{{ v.name }}</label>
        </div>

        <div class="form-box-content">
          <div class="white--text wrap-all pt-1 pb-2">{{ v.notes }}</div>

          <template v-for="v2 in v.routines.filter(v => !!v)">
            <div class="routine-header cursor--pointer grey lighten-2 text-center mt-4 black--text"  @click="startRoutineEdit(v2, i)" :key="`${v2.id}-header`">{{ v2.name }}</div>
            <table v-if="v.routines.length > 0" class="exercise-tbl white--text" :key="`${v2.id}-table`">

              <draggable :list="v2.exercises.filter(v => !!v)" :tag="'tbody'" @change="reorder(arguments[0], v2, i)">
                <tr v-for="v3 in v2.exercises.filter(v => !!v)" :key="v3.id" @click="startExerciseEdit(v3, i)" class="cursor--pointer">
                  <td>{{ v3.name }}</td>
                  <td class="text-right px-2 no-stretch">{{ v3.reps }}</td>
                  <td class="text-right px-2 no-stretch divider">{{ v3.sets }}</td>
                  <td class="text-right px-2 no-stretch divider">{{ v3.amount }}</td>
                  <td class="text-left no-stretch">{{ v3.amount ? v3.unit : '' }}</td>
                </tr>
              </draggable>

            </table>
          </template>

          <v-alert v-if="v.routines.length === 0" dense type="info" class="ma-0">You haven't added any routines to this plan yet.</v-alert>
        </div>

        <div v-if="allowActions" class="form-controls icon-btns">
          <div></div>
          <v-btn icon :color="v.isFavorite ? 'yellow' : 'white'" @click="favorite(v)">
            <v-icon>{{ v.isFavorite ? 'mdi-star' : 'mdi-star-outline' }}</v-icon>
          </v-btn>
          
          <v-btn icon color="red" @click="remove(v)">
            <v-icon>mdi-delete</v-icon>
          </v-btn>
          
          <v-btn icon color="green" @click="edit(v)">
            <v-icon>mdi-pencil</v-icon>
          </v-btn>
        </div>
      </div>
    </template>
  </transition-group>
</template>

<script>
  import Draggable from 'vuedraggable';
  import { mapGetters, mapActions } from 'vuex';
  import UpsertExercise from '@/components/Index/Exercise/UpsertExercise';
  import UpsertRoutine from '@/components/Index/Routine/UpsertRoutine';

  export default {
    components: { Draggable, UpsertExercise, UpsertRoutine },

    props: {
      bus: { type: Object, required: true },
      allowActions: { type: Boolean, required: false, default: true },
      onlyFavorite: { type: Boolean, required: false, default: false },
    },

    data: () => ({
      loading: false,
      editing: null,
      exerciseEdit: null,
      routineEdit: null,
      plans: [],
    }),

    mounted() {
      this.refresh();
      this.bus.$on('refresh', this.refresh);
    },

    computed: {
      ...mapGetters({
        getFlashValue: 'general/getFlashValue',
        getPlans: 'plan/getPlans',
      }),

      filteredPlans() {
        let plans = this.plans;
        if(this.onlyFavorite) plans = this.plans.filter(v => !!v.isFavorite).map(v => ({ ...v, collapsed: false }));
        return plans;
      },
    },

    methods: {
      ...mapActions({
        flashValue: 'general/setFlashValue',
        upsertRoutine: 'routine/upsertRoutine',
        upsertPlan: 'plan/upsertPlan',
        deletePlan: 'plan/deletePlan',
      }),

      async favorite(item) {
        for(let i = 0; i < this.plans.length; i++) {
          const plan = { ...this.plans[i], isFavorite: this.plans[i].id === item.id };
          delete plan.collapsed;
          await this.upsertPlan(plan);
        }

        this.refresh();
      },

      remove(plan) {
        this.dialogue({
          closeOnShadowClick: true,
          title: `Delete ${plan.name}`,
          color: 'error',
          text: `Are you sure you want to delete ${plan.name}?`,
          actions: [{ color: 'muted', text: 'No, Cancel', method: this.stopViewing }, {
            color: 'error',
            flat: false,
            text: 'Yes, Delete',
            method: async () => {
              this.loading = true;
              try {
                await this.deletePlan(plan);
                this.refresh();
              } catch(err) {
                this.alert({ color: 'error', timeout: 10000, text: err.message });
              }
              this.loading = false;
            },
          }]
        });
      },

      edit(plan) {
        this.flashValue(this.plans.findIndex(v => v.id === plan.id));
        plan = this.$jsonClone(plan);
        delete plan.collapsed;
        this.$emit('editPlan', plan);
      },

      startExerciseEdit(exercise, planIndex) {
        this.flashValue(planIndex);
        this.$emit('hideUpsert');
        this.exerciseEdit = this.$jsonClone(exercise);
        this.editing = 'e';
      },

      stopExerciseEdit() {
        this.$emit('showUpsert');
        this.exerciseEdit = null;
        this.editing = null;
      },

      startRoutineEdit(routine, planIndex) {
        this.flashValue(planIndex);
        this.$emit('hideUpsert');
        this.routineEdit = this.$jsonClone(routine);
        this.editing = 'r';
      },

      stopRoutineEdit() {
        this.$emit('showUpsert');
        this.routineEdit = null;
        this.editing = null;
      },

      toggleCollapse(item) {
        item.collapsed = !item.collapsed;
      },

      refresh() {
        this.plans = this.getPlans.map((v, i) => ({ ...v, collapsed: i !== this.getFlashValue }));
        this.flashValue(null);
      },

      async reorder(el, routine, planIndex) {
        this.loading = true;

        try {
          routine.exercises.splice(el.moved.oldIndex, 1);
          routine.exercises.splice(el.moved.newIndex, 0, el.moved.element);
          this.flashValue(planIndex);
          await this.upsertRoutine(routine);
          this.refresh();
        } catch(err) {
          this.alert({ color: 'error', timeout: 10000, text: err.message });
        }

        this.loading = true;
      },
    },
  }
</script>

<style>

</style>