<template>
  <transition name="slide-fade" mode="out-in">
    <upsert-plan v-if="isUpserting" :bus="bus" :plan="editing" @cancelUpserting="cancelUpserting" class="mt-5" />

    <div v-else>
      <transition name="slide-fade" mode="out-in">
        <v-btn v-if="allowCreate && showUpsert" @click="isUpserting = true" block color="primary" class="mb-7">
          <v-icon left>mdi-plus</v-icon>
          Add Plan
        </v-btn>
      </transition>

      <list-plans :bus="bus" :allowActions="allowCreate" :onlyFavorite="onlyFavorite" @editPlan="startEditing" @hideUpsert="showUpsert = false" @showUpsert="showUpsert = true" />
    </div>
  </transition>
</template>

<script>
  import UpsertPlan from '@/components/Index/Plan/UpsertPlan';
  import ListPlans from '@/components/Index/Plan/ListPlans';

  export default {
    components: { UpsertPlan, ListPlans },

    props: {
      bus: { type: Object, required: true },
      allowCreate: { type: Boolean, required: false, default: true },
      onlyFavorite: { type: Boolean, required: false, default: false },
    },

    data: () => ({
      isUpserting: false,
      editing: null,
      showUpsert: true,
    }),

    mounted() {
      this.bus.$on('cancelAllEdits', () => {
        this.isUpserting = false;
        this.editing = null;
        this.showUpsert = true;
      });
    },

    methods: {
      startEditing(plan) {
        this.editing = plan;
        this.isUpserting = true;
      },

      cancelUpserting() {
        this.editing = null;
        this.isUpserting = false;
      },
    },
  }
</script>

<style lang="scss" scoped>

</style>
