<template>
  <transition name="slide-fade" mode="out-in">
    <v-form v-if="!creatingRoutine" ref="form" v-model="valid" class="form-box dark" autocomplete="off">
      <div class="form-label">
        <div></div>
        <label>{{ plan ? 'Edit' : 'Add' }} Plan</label>
      </div>

      <v-row class="mt-1">
        <v-col cols="12" class="py-0">
          <v-text-field :rules="validators.required('Name')" @keydown.enter="submit" v-model.trim="name" required outlined dark dense :disabled="loading" label="Name" />
        </v-col>
        
        <v-col cols="12" class="py-0">
          <v-autocomplete dense :disabled="loading" label="Routines" @keydown.enter="submit" v-model.trim="routines" multiple outlined dark required chips small-chips
            :rules="validators.required('Routines')" append-outer-icon="mdi-plus" @click:append-outer="creatingRoutine = true" :items="getRoutines" item-text="name"
            item-value="id"
          />
        </v-col>

        <v-col cols="12" class="py-0">
          <v-textarea dense :disabled="loading" label="Description / Notes" v-model.trim="notes" outlined dark no-resize />
        </v-col>        
      </v-row>

      <div class="form-controls">
        <div></div>
        <v-btn :disabled="loading" :dark="loading" @click="cancelUpserting">Cancel</v-btn>
        <v-btn :disabled="!valid || loading" @click="submit" :loading="loading" color="primary" dark>{{ plan ? 'Update' : 'Create' }}</v-btn>
      </div>
    </v-form>

    <upsert-routine v-else :bus="bus" :callback="createRoutineCallback" @cancelUpserting="creatingRoutine = false" class="mt-5" />
  </transition>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex';
  import _ from 'lodash';
  import validators from '@/config/validators';
  import UpsertRoutine from '@/components/Index/Routine/UpsertRoutine';

  export default {
    components: { UpsertRoutine },

    props: {
      bus: { type: Object, required: true },
      plan: { type: Object, required: false },
    },

    data: () => ({
      validators,
      valid: false,
      loading: false,
      creatingRoutine: false,
      form: {
        name: '',
        notes: '',
        routines: []
      }
    }),

    computed: {
      ...mapGetters({
        plans: 'plan/getPlans',
        getRoutines: 'routine/getRoutines',
      }),

      name: {
        get() { return this.plan?.name || this.form.name },
        set(v) {
          const obj = this.plan || this.form;
          obj.name = v;
        }
      },
      notes: {
        get() { return this.plan?.notes || this.form.notes },
        set(v) {
          const obj = this.plan || this.form;
          obj.notes = v;
        }
      },
      routines: {
        get() { return this.plan?.routines || this.form.routines },
        set(v) {
          const obj = this.plan || this.form;
          obj.routines = v;
        }
      },
    },

    methods: {
      ...mapActions({ upsertPlan: 'plan/upsertPlan' }),

      cancelUpserting() {
        this.$emit('cancelUpserting');
        this.form = { name: '', sets: '', reps: '', weight: '', };
      },

      async submit() {
        if(this.$refs.form.validate()) {
          this.loading = true;

          try {
            const obj = this.plan || this.form;
            obj.name = _.startCase(obj.name);

            await this.upsertPlan(obj);
            
            this.$refs.form.resetValidation();
            this.cancelUpserting();
            this.alert({ color: 'success', timeout: 10000, text: `${obj.name} ${this.plan ? 'updated' : 'added'}` });
          } catch(err) {
            this.alert({ color: 'error', timeout: 10000, text: err.message });
          }

          this.loading = false;
        }
      },

      createRoutineCallback(routine) {
        const obj = this.plan || this.form;
        obj.routines.push(routine);
        // obj.routines = [...obj.routines, routine]
      },
    },
  }
</script>

<style>

</style>